.diff {
  padding-top: 140px;
  padding-bottom: 140px;
  text-align: center;

  @include min-width(large) {
    padding-top: 304px;
    padding-bottom: 162px;
    text-align: left;
  }

  > h1,
  h2 {
    color: $primary-dark;
  }

  > h1 {
    padding: 0 0 20px 0;
    @include min-width(large) {
      padding: 0 0 94px 0;
    }
  }

  > h1::before {
    content: "";
    display: block;
    width: 150px;
    margin: auto;
    padding-bottom: 42px;
    border-top: 1px solid $primary-light;
    @include min-width(large) {
      margin: 0;
    }
  }

  h2 {
    padding: 40px 0 26px 0;
  }

  .diff_card_container {
    flex-wrap: wrap;
  }

  .diff_card {
    flex: 0 0 1;
    padding-top: 60px;
    @include min-width(large) {
      flex: 0 0 32%;
      padding-top: 0;
    }
  }
}
