html {
  min-height: -webkit-fill-available;
  font-size: 62.5%; /* 16px * 62.5% = 10px -> 1rem = 10px */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  font-family: $font-family-base;
  font-size: $font-medium;
  font-weight: $font-weight-normal;
  line-height: 1.3;
  color: $primary-light;

  &.noscroll {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  > img {
    display: block;
  }
}

// Button

button,
.button-base {
  padding: 14px 28px;
  background-color: transparent;
  border-color: inherit;
  border-width: 2px;
  border-style: solid;
  color: inherit;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  cursor: pointer;
}

.button-hover-dark {
  @extend .button-base;
  transition: background-color 0.1s ease-in-out;
  &:hover {
    background-color: $primary-dark;
    color: $secondary-light;
  }
}

.button-hover-light {
  @extend .button-base;
  transition: 0.1s;
  &:hover {
    background-color: $secondary-light;
    color: $primary-dark;
  }
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-header;
}

h1 {
  font-size: 4.1rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.872rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.32rem;
}

h6 {
  font-size: 1.072rem;
}

// ul li

li {
  list-style-type: none;
}

// Flex box
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

// Text
.uppercase {
  text-transform: uppercase;
}

.primary-main {
  color: $primary-main;
}

.primary-dark {
  color: $primary-dark;
}

.primary-light {
  color: $primary-light;
}

.secondary-main {
  color: $secondary-main;
}

.secondary-light {
  color: $secondary-light;
}

// Media queries (480px, 768px, 1024px)

$min-width-breakpoints: (
  "medium": "480px",
  "large": "768px",
  "xlarge": "1024px",
  "xxlarge": "1500px",
);

@mixin min-width($size) {
  @media (min-width: map-get($min-width-breakpoints, $size)) {
    @content;
  }
}

$max-width-breakpoints: (
  "small": "479px",
  "medium": "767px",
  "large": "1023px",
);

@mixin max-width($size) {
  @media (max-width: map-get($max-width-breakpoints, $size)) {
    @content;
  }
}

// Visibility
.hide-for-mobile {
  @include max-width(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include min-width(large) {
    display: none;
  }
}

.inline-block {
  display: inline-block;
}

// Position
.relative {
  position: relative;
}

//Spacing
.container {
  max-width: calc(1110px + 24px + 24px);
  min-width: 280px;
  margin: 0 auto;
  padding: 24px;
}

.container-px {
  max-width: calc(1110px + 24px + 24px);
  min-width: 280px;
  margin: 0 auto;
  padding-right: 24px;
  padding-left: 24px;
}
