html {
  font-size: 62.5%; /* 16px * 62.5% = 10px -> 1rem = 10px */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  font-family: $font-family-base;
  font-size: $font-medium;
  font-weight: $font-weight-normal;
  line-height: 1.3;
  color: $primary-light;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

// Button

button,
.button-base {
  padding: 14px 28px;
  background-color: transparent;
  border-color: inherit;
  border-width: 2px;
  border-style: solid;
  color: inherit;
  font-weight: $font-weight-bold;
  cursor: pointer;
}

.button-hover-dark {
  @extend .button-base;
  transition: 0.3s;
  &:hover {
    background-color: $primary-main;
    color: white;
  }
}

.button-hover-light {
  @extend .button-base;
  transition: 0.3s;
  &:hover {
    background-color: white;
    color: $primary-main;
  }
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-header;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.872rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.32rem;
}

h6 {
  font-size: 1.072rem;
}

// Flex box
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

// Text
.uppercase {
  text-transform: uppercase;
}

.primary-main {
  color: $primary-main;
}

.primary-dark {
  color: $primary-dark;
}

.primary-light {
  color: $primary-light;
}

.secondary-main {
  color: $secondary-main;
}

.secondary-light {
  color: $secondary-light;
}

// Media queries (480px, 768px, 1024px)

$breakpoints-up: (
  "medium": "480px",
  "large": "768px",
  "xlarge": "1024px",
);

@mixin min-width($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

$breakpoints-down: (
  "small": "479px",
  "medium": "767px",
  "large": "1023px",
);

@mixin max-width($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}

// Visibility
.hide-for-mobile {
  @include max-width(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include min-width(large) {
    display: none;
  }
}
