.header {
  nav {
    padding: 24px;
  }
  &__logo {
    img {
      width: 112px;
      height: 18px;
    }
  }

  &__menu {
    img {
      width: 32px;
      height: 32px;
    }
  }

  &__links {
    a {
      font-weight: $font-weight-bold;
      &:hover {
        color: $primary-dark;
      }
      &:not(:last-child) {
        margin-right: 26px;
      }
    }
  }

  &__button {
    margin-left: 34px;
    border-color: $primary-main;
    color: $primary-dark;
  }
}
