.header {
  &__menu-container {
    perspective: 1000;
    transform-style: preserve-3d;
    &.rotate {
      animation: rotate 0.9s forwards;
    }
    &.reverse {
      animation: rotate-reverse 0.9s forwards;
    }
    a {
      &:nth-child(1) {
        z-index: 2;
        transform-style: preserve-3d;
        backface-visibility: hidden;
      }
      &:nth-child(2) {
        backface-visibility: hidden;
        transform: rotateX(180deg);
      }
    }
  }

  &__logo {
    img {
      width: 112px;
      height: 18px;
    }
  }

  &__menu-toggle {
    position: absolute;
    right: 0;
    img {
      width: 32px;
      height: 32px;
    }
  }

  &__overlay {
    display: none;
    position: absolute;
    width: 100vw;
    padding: 0 26px;
    background-color: $primary-dark;
    overflow: hidden;
    z-index: 1;

    &.slide-down::after {
      content: "";
      background-image: url("../images/bg-pattern-mobile-nav.svg");
      background-repeat: no-repeat;
      background-position-y: bottom;
      background-size: contain;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      animation: fade-in 0.5s ease-in forwards;
    }

    &.slide-up::after {
      display: none;
    }

    a {
      display: block;
      text-align: center;
      color: $secondary-light;
      font-weight: $font-weight-bold;
      &:first-child {
        padding-top: 52px;
      }
      &:nth-child(2) {
        padding: 46px 0;
      }
      &:nth-child(4) {
        max-width: 328px;
        margin: 34px auto 0 auto;
        padding: 14px 28px;
        border-color: inherit;
        border-width: 2px;
        border-style: solid;
      }
    }

    &.slide-down {
      animation: slide-down 0.5s ease-out forwards;
    }
    &.slide-up {
      animation: slide-up 0.5s ease-out forwards;
    }
  }

  &__links {
    a {
      font-weight: $font-weight-bold;
      transition: color 0.3s ease-in-out;
      &:hover {
        color: $primary-dark;
      }
      &:not(:last-child) {
        margin-right: 26px;
      }
    }
  }

  &__button {
    margin-left: 34px;
    border-color: $primary-main;
    color: $primary-dark;
  }
}
