// Colors
$primaryMain: hsl(256, 26%, 20%); /* Dark Violet */
$secondaryMain: hsl(216, 30%, 68%); /* Grayish Blue */
$primaryDark: hsl(270, 9%, 17%); /* Very Dark Violet */
$primaryLight: hsl(273, 4%, 51%); /* Dark Grayish Violet */
$secondaryLight: hsl(0, 0%, 98%); /* Very Light Gray */

// Font size
$font-small: 1.4rem;
$font-medium: 1.6rem;
$font-large: 1.8rem;

// Wid
$max-width: 1110px;
