// Colors
$primary-light: hsl(273, 4%, 51%); /* Dark Grayish Violet */
$primary-main: hsl(256, 26%, 20%); /* Dark Violet */
$primary-dark: hsl(270, 9%, 17%); /* Very Dark Violet */
$secondary-main: hsl(216, 30%, 68%); /* Grayish Blue */
$secondary-light: hsl(0, 0%, 98%); /* Very Light Gray */
$white: white;

// Font size
$font-small: 1.4rem;
$font-medium: 1.6rem;
$font-large: 1.8rem;

// Font family
$font-family-base: "Karla", sans-serif;
$font-family-header: "DM Serif Display", serif;

// Font weight
$font-weight-normal: 400;
$font-weight-bold: 700;
